<div class="w-full rounded-lg bg-white p-4">
  <h1 class="font-bold text-red-1 text-3xl">Your Cart (0)</h1>
  <!-- <div class="h-64 w-full">
    <img class="w-full h-full" src="/assets/images/illustration-empty-cart.svg" alt="">
  </div> -->
  <app-cart-card></app-cart-card>
  <div class="flex justify-between px-1 text-lg">
  <p>Order Total</p>
  <p class="font-bold">{{totalPrice | currency}}</p>
</div>
  <button class="w-full bg-red-1 text-white rounded-full py-3 mt-7">
    Confirm Order
  </button>
</div>
