<div
  class="fixed inset-0 w-full min-h-screen flex items-end sm:items-center justify-center z-10 bg-black bg-opacity-50"
>
  <div
    class="w-full max-h-[80%] lg:w-[44%] xl:w-[40%] sm:w-[60%] md:w-[65%] border-2 bg-white z-20 p-4 rounded-t-2xl sm:rounded-xl"
  >
    <div class="px-3">
      <div class="w-8 h-8 mb-2">
        <img
          class="w-full h-full"
          src="/assets/images/icon-order-confirmed.svg"
          alt=""
        />
      </div>
      <h1 class="text-rose-900 text-xl font-bold mb-2">Order Confirmed</h1>
      <p class="text-rose-400">We hope you enjoy your food!</p>
    </div>
    <div
      class="flex items-center flex-col max-h-52 sm:max-h-52 overflow-y-auto mt-3"
    >
      <div class="w-[95%] bg-rose-50 px-2 py-1 rounded-lg">
        <app-confirm-order-card
          *ngFor="let product of cartItems"
          [product]="product"
        ></app-confirm-order-card>
        <div class="w-full flex justify-between text-lg mt-4">
          <p>Order Total</p>
          <p class="font-bold">{{ totalPrice | currency }}</p>
        </div>
      </div>
    </div>
    <button
      class="w-full bg-red-1 text-white rounded-full py-2 mt-5"
      (click)="startNewOrder()"
    >
      Start New Order
    </button>
  </div>
</div>
