<div
  class="absolute top-0 left-0 w-full h-screen flex items-center justify-center z-10 bg-black bg-opacity-50 overflow-hidden"
>
  <div class="w-[44%] h-fit border-2 bg-white z-20 p-7 rounded-xl">
    <div class="px-3">
      <div class="w-10 h-10 mb-7">
        <img
          class="w-full h-full"
          src="/assets/images/icon-order-confirmed.svg"
          alt=""
        />
      </div>
      <h1 class="text-rose-900 text-4xl font-bold mb-4">Order Confirmed</h1>
      <p class="text-rose-400 text-lg mb-4">We hope you enjoy your food!</p>
    </div>
    <div class="flex items-center flex-col">
      <div class="w-[95%] bg-rose-50 px-6 py-3 rounded-lg">
        <app-confirm-order-card
          *ngFor="let product of cartItems"
          [product]="product"
        ></app-confirm-order-card>
      </div>
      <button
        class="w-full bg-red-1 text-white rounded-full py-3 mt-5"
        (click)="startNewOrder()"
      >
        Start New Order
      </button>
    </div>
  </div>
</div>
